<div class="container pricing-schedules">
  <aside>
    <div class="filter">
      <form action="/">
        <h5>location</h5>
        <div class="form-wrap">
          <ul class="dropped">
            <li class="form-row form-row-wide">
              <input type="checkbox" name="category" value="category-1" id="category-1">
              <label for="category-1">Dallas, TX lorem ipsum dolor sit amet</label>
            </li>
            <li class="form-row form-row-wide">
              <input type="checkbox" name="category" value="category-2" id="category-2">
              <label for="category-2">Boston, MA</label>
            </li>
            <li class="form-row form-row-wide">
              <input type="checkbox" name="category" value="category-3" id="category-3">
              <label for="category-3">Bashkill, PA</label>
            </li>
            <li class="form-row form-row-wide">
              <input type="checkbox" name="category" value="category-1" id="category-4">
              <label for="category-4">Dallas, TX</label>
            </li>
            <li class="form-row form-row-wide">
              <input type="checkbox" name="category" value="category-2" id="category-5">
              <label for="category-5">Boston, MA</label>
            </li>
            <li class="form-row form-row-wide">
              <input type="checkbox" name="category" value="category-3" id="category-6">
              <label for="category-6">Bashkill, PA</label>
            </li>
            <li class="form-row form-row-wide">
              <input type="checkbox" name="category" value="category-1" id="category-7">
              <label for="category-7">Dallas, TX</label>
            </li>
            <li class="form-row form-row-wide">
              <input type="checkbox" name="category" value="category-2" id="category-8">
              <label for="category-8">Boston, MA</label>
            </li>
            <li class="form-row form-row-wide">
              <input type="checkbox" name="category" value="category-3" id="category-9">
              <label for="category-9">Bashkill, PA</label>
            </li>
          </ul>
          <div class="buttons">
            <span class="filter-btn show-more">show more cities</span>
          </div>
        </div>
        <h5>AVAILABILITY</h5>
        <div class="form-wrap">
          <ul>
            <li>
              <div class="form-row form-row-wide">
                <input type="checkbox" name="delivery-format" value="live-classroom" id="live-classroom">
                <label for="live-classroom">Seats Available</label>
              </div>
            </li>
            <li>
              <div class="form-row form-row-wide">
                <input type="checkbox" name="delivery-format" value="virtual-classroom" id="virtual-classroom">
                <label for="virtual-classroom">Guaranteed to Run</label>
              </div>
            </li>
          </ul>
        </div>
        <h5>BEGIN DATE RANGE</h5>
        <div class="date-picker form-row from-row-wide dropdown-arrow">
          <input type="text" id="datepicker" readonly>
        </div>
        <div class="buttons">
          <button type="reset" class="filter-btn">clear all</button>
        </div>
      </form>
    </div>
    <div class="group-training">
      <h5>Group Training</h5>
      <p>If you are interested in Group Training delivered at your facility or our facility send a request for more
        information.</p>
      <a href="contact-us.html" class="btn btn-white">send request</a>
    </div>
  </aside>
  <div class="content-table">
    <h3>Pricing and Schedules</h3>
    <div class="filters-list">
      <ul>
        <li>Bushkill, PA <span class="remove-filter"></span></li>
        <li>Dallas, TX<span class="remove-filter"></span></li>
        <li>Guaranteed to Run<span class="remove-filter"></span></li>
        <li>30 June, 2016<span class="remove-filter"></span></li>
      </ul>
    </div>
    <table>
      <thead>
        <tr>
          <th><span>Begin Date</span></th>
          <th><span>end Date</span></th>
          <th><span>location</span></th>
          <th class="availability"><span>Availability</span></th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td colspan="4" class="course-item">
            <table>
              <tr>
                <td data-title="begin date">
                  <time datetime="2016-07-18">7/18/2016</time>
                </td>
                <td data-title="end date">
                  <time datetime="2016-08-24">8/24/2016</time>
                </td>
                <td data-title="location">Dallas, TX</td>
                <td data-title="availability" class="availability not-available">No Seats</td>
                <td><button class="filter-btn show-details-btn dropdown-arrow">show details</button></td>
              </tr>
              <tr class="course-details">
                <td colspan="5">
                  <table>
                    <thead>
                      <tr>
                        <th>Qty</th>
                        <th class="description">Description</th>
                        <th class="price">price</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td data-title="qty" class="qty">1</td>
                        <td class="description">Microsoft - MCSE Server Infrastructure Windows Server 2012 Boot
                          Camp (14 Days)
                        </td>
                        <td data-title="price" class="price">$7,495.00</td>
                      </tr>
                      <tr>
                        <td data-title="qty" class="qty">1</td>
                        <td class="description">Microsoft - MCSE Server Infrastructure Windows Server 2012 Boot
                          Camp (14 Days)
                        </td>
                        <td data-title="price" class="price">$7,495.00</td>
                      </tr>
                      <tr>
                        <td></td>
                        <td class="total-heading description">Total</td>
                        <td data-title="total" class="total-val price">$6,495.00</td>
                      </tr>
                      <tr>
                        <td colspan="3" class="buttons"><a href="javascript:void(0)" class="btn btn-blue">Add to cart</a></td>
                      </tr>
                    </tbody>
                  </table>
                </td>
              </tr>
            </table>
          </td>
        </tr>
      </tbody>
    </table>

    //= pagination

  </div>
</div>