@import "../global";
@import "../libs/variables";
@import "../libs/mixins";
//sections
@import "../sections/aside-filter";
@import "../sections/pagination";

h2 {
  span {
    font-family: 'oswaldlight', sans-serif;
  }
}

.courses-list {
  margin-bottom: 30px;
  > li {
    padding: 20px 0 0;
  }
  .info {
    border-bottom: 1px solid $color-light-gray;
    padding-bottom: 20px;
  }
  h5,
  p {
    margin-bottom: 10px;
  }
}
aside {
  max-width: 240px;
}
.tags {
  @include inlined(10px, 18px, 3px);
  font-family: 'oswaldregular', sans-serif;
  color: $color-blue;
  text-transform: uppercase;
  li {
    margin-right: 15px;
    padding-left: 10px;
    position: relative;
    &:before {
      @include pos(absolute, 0, 0);
      content: '\2022';
      color: $color-blue;
      font-family: 'oswalddemibold', sans-serif;
    }
  }
}

@include lap {
  .top-bg {
    p {
      font-size: 18px;
    }
  }
  h2 {
    margin-bottom: 75px;
  }
  .courses {
    float: right;
    padding-left: 40px;
    width: calc(100% - 300px);
  }
  .courses-list {
    margin-bottom: 45px;
    > li {
      box-shadow: 0 2px 10px rgba(2, 2, 2, 0);
      padding: 30px 0 0 25px;
      transition: box-shadow .3s ease;
    }
    .info {
      padding-right: 25px;
      transition: border .3s ease;
    }
    h5 {
      font-size: 15px;
      letter-spacing: 2px;
    }
    h5,
    p {
      margin-bottom: 15px;
    }
  }
  .tags li {
    font-size: 12px;
    line-height: 24px;
  }
}

@include desk {
  .courses {
    margin-bottom: 50px;
    padding-left: 60px;
  }
  .courses-list {
    margin-bottom: 60px;
    > li {
      padding: 30px 0 0 30px;
    }
    .info {
      padding: 0 30px 30px 0;
    }
  }
}

.no-dev {
  .courses-list {
    > li:hover {
      box-shadow: 0 2px 10px rgba(2, 2, 2, 0.1);
      .info {
        border-color: $color-transparent;
      }
    }
    .info {
      a:hover {
        text-decoration: underline;
      }
    }
  }
}
